* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 20px;
}

header {
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0%;
    bottom: 93%;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.paragrafo {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}

.lista {
    list-style-type: disc;
    margin-left: 20px;
}

.lista li {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
